// Fonts
//@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Libs
@import "~bootstrap/scss/bootstrap";
// @import "~slick-carousel/slick/slick";

// Variables
@import "variables";

// Blocks
@import "custom/layout";
@import "custom/mixins";
@import "custom/components/header";
@import "custom/components/footer";
@import "custom/components/blockPhoto";
@import "custom/components/review";

// Pages
@import "custom/pages/main";
