.blockPhoto {
  position: relative;
  width: 100%;
  height: 547px;
  margin-bottom: 120px;
  &--only-text {
    @media (max-width: $breakpointTablet) {
      height: 419px;
    }
  }
  @media (max-width: $breakpointMobile) {
    margin-bottom: 31px;
  }
}

.blockPhoto__bg {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-end;
  width: 65%;
  height: 547px;
  overflow: hidden;
  @media (max-width: $breakpointTablet) {
    height: 400px;
  }
  @media (max-width: $breakpointMobile) {
    width: 248px;
  }
}

.blockPhoto__img-wrap {
  position: absolute;
  right: 0;
  width: 100%;
  height: 100%;
  max-width: 821px;
  img {
    position: absolute;
    left: 0;
    height: 100%;
  }
}

.blockPhoto__overlay {
  position: relative;
  width: 325px;
  height: 420px;
  @media (max-width: $breakpointTablet) {
    width: 248px;
    height: 340px;
  }

  &::before, &::after {
    content: '';
    position: absolute;
    right: 0;
    width: 30px;
    height: 64px;
    background-color: #fff;
    @media (max-width: $breakpointMobile) {
      width: 32px;
    }
  }

  &::before {
    top: -64px;
  }

  &::after {
    bottom: -64px;
  }
}

.blockPhoto__overlay-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  &--5 {
    background-color: #059dec;
    mix-blend-mode: hue;
  }
  &--4 {
    background-color: #56adff;
    mix-blend-mode: color;
    opacity: .8;
  }
  &--3 {
    background-color: #fff4be;
    mix-blend-mode: luminosity;
    opacity: .5;
  }
  &--2 {
    background-color: #5a09ff;
    mix-blend-mode: exclusion;
    opacity: .3;
  }
  &--1 {
    background-color: #ffffff;
    mix-blend-mode: soft-light;
  }
}

.blockPhoto__content-wrap {
  position: absolute;
  //top: 112px;
  top: 123px; // FIX
  left: 0;
  right: 0;
  @media (max-width: $breakpointTablet) {
    top: 55px;
  }
}

.blockPhoto__content {
  max-width: 766px;
  margin-left: calc(65% - 295px);
  margin-right: 20px;
  @media (max-width: $breakpointTablet) {
    margin-left: calc(65% - 218px);
  }
  @media (max-width: $breakpointMobile) {
    margin-left: 15px;
    margin-right: 15px;
  }

  h2 {
    letter-spacing: -0.8px;
    @media (max-width: $breakpointMobile) {
      margin: 0 25px 20px 15px;
      line-height: 26px;
      letter-spacing: 0;

    }
  }

  p {
    margin: 26px 25px 25px 80px;
    line-height: 22px;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.7);
    letter-spacing: 0.2px;
    @media (max-width: $breakpointTablet) {
      margin-left: 0;
      margin-right: 0;
    }
    @media (max-width: $breakpointMobile) {
      margin: 17px 15px 24px;
    }
  }

  button {
    float: right;
    width: 210px;
    margin-right: 23px;
    @media (max-width: $breakpointMobile) {
      float: none;
      width: calc(100% - 30px);
      margin: 0 15px;
    }
  }
}

.blockPhoto--reviews {
  .blockPhoto__img-wrap img {
    @media (max-width: $breakpointTablet) {
      left: -30%;
    }
    @media (max-width: $breakpointMobile) {
      left: -90%;
    }
  }
  .blockPhoto__content {
    padding-top: 55px;
    @media (min-width: $breakpointMobile) {
      padding-top: 0;
    }
  }
}
