.header {
  position: fixed;
  width: 100%;
  top: -10px;
  z-index: 100;
}

.header__blur-wrap {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: opacity 400ms linear;
}

.header__blur {
  position: absolute;
  top: -10px;
  bottom: -10px;
  width: 100%;
  filter: blur(5px);
  overflow: hidden;
  iframe {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
  }
}

.header__content {
  position: relative;
  height: 100%;
  padding-top: 10px;
  background: rgba(#b8b8b8, 0.5);

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: -3px;
    background-color: rgba(99, 99, 99, 0.4);
  }
}

.header__shadow {
  position: absolute;
  width: 100%;
  height: 16px;
  bottom: -19px;
  overflow: hidden;
  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 0;
    top: 0;
    box-shadow: 0 1px 11px 4px rgba(0, 0, 0, 0.13);
  }
}

.header__logo {
  display: block;
  width: 100%;
  max-width: 220px;
  height: 87px;
  background: url('/assets/images/logo.svg') no-repeat 15px 13px;

  @media (max-width: $breakpointMobile) {
    max-width: 140px;
    height: 49px;
    background: url('/assets/images/logo-mobile.svg') no-repeat 2px 9px;
  }
}

.header__contact {
  margin-top: 3px;
  color: $whiteColor;
  font-family: $body-font-1;
  text-shadow: 0 3px 2px rgba(241, 241, 241, 0.43);
}

.header__contact-address {
  padding-left: 70px;
  padding-right: 10px;
  margin-top: -3px;
  font-size: 13px;
  font-weight: 300;
  line-height: 15px;
  letter-spacing: 0.1px;
}

.header__contact-phone {
  font-size: 30px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: -1.05px;
}

.header__menu {
  @media (max-width: $breakpointMobile) {
    margin-top: 3px;
  }
}

.header__menu-button {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  width: 48px;
  height: 48px;
  margin-top: -10px;
  margin-right: 23px;
  cursor: pointer;

  @media (max-width: $breakpointMobile) {
    margin-top: -5px;
    margin-right: -5px;
  }

  & > div {
    width: 28px;
    height: 4px;
    margin: 2px auto;
    left: 0;
    right: 0;
    background-color: $whiteColor;
    box-shadow: 0 3px 2px rgba(210, 210, 210, 0.53);
  }

  &:hover > div {
    background-color: $primaryColor;
    box-shadow: 0 3px 2px rgba(#72c0e9, 0.53);
  }
}
