.review {
  margin: -210px auto 0;
  padding: 0 30px;
  @media (min-width: $breakpointTablet) and (max-width: $breakpointDesktop) {
    margin-top: -140px;
  }
}

.review__container {
  position: relative;
  width: 100%;
  max-width: 769px;
  padding: 40px 100px 0;
  margin: 0 auto 120px;
  box-shadow: 0 16px 30px rgba(43, 34, 34, 0.3);
  background-color: $backgroundColor;
  opacity: 0.95;
  @media (max-width: $breakpointMobile) {
    padding: 30px 30px 0;
  }
  @media (max-width: $breakpointTablet) {
    margin: 0 auto 50px;
  }
}

.review__header {
  display: flex;
  flex-flow: row nowrap;
  height: 48px;
  padding-left: 6px;
}

.review__photo {
  width: 48px;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
}

.review__author {
  font-family: $body-font-1;
  font-size: 14px;
  padding-left: 20px;
  padding-top: 8px;
}

.review__name {
  color: $blackColor;
  font-weight: 600;
  line-height: 14px;
}

.review__date {
  color: #9e9e9e;
  font-weight: 400;
}

.review__text {
  color: $fontColor;
  line-height: 22px;
  padding-top: 14px;
  padding-left: 3px;
  @media (max-width: $breakpointMobile) {
    overflow: hidden;
  }
}

.review__prev, .review__next {
  position: absolute;
  width: 48px;
  height: 48px;
  top: calc(50% - 12px);
  cursor: pointer;
  @media (max-width: $breakpointMobile) {
    top: auto;
    bottom: 18px;
  }
}

.review__prev {
  left: 40px;
  background: url("/assets/images/arrowLeft.svg") no-repeat center;
  @media (max-width: $breakpointMobile) {
    left: 17px;
  }
}

.review__next {
  right: 40px;
  background: url("/assets/images/arrowRight.svg") no-repeat center;
  @media (max-width: $breakpointMobile) {
    right: 17px;
  }
}

.review__pagination {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 75px;
}

.review__bullet {
  width: 12px;
  height: 12px;
  margin: 0 14px 50px;
  background-color: $backgroundColor;
  border: 1px solid $secondaryColor-1;
  border-radius: 50%;
  cursor: pointer;
  @media (max-width: $breakpointMobile) {
    margin-bottom: 36px;
  }
}

.review__bullet--active {
  background-color: $secondaryColor-1;
  border: 1px solid transparent;
}
