html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 320px;
}
.pageWrap {
  min-height: 100%;
  margin-bottom: -313px;
}
* html .pageWrap {
  height: 100%;
}
.pageBuffer {
  height: 313px;
}

.image {
  max-width: 100%;
}
.posRel {
  position: relative;
}

.container-fluid {
  max-width: 1200px;
}

//typography
.title-1 {
  font: $title-1;

  @media(max-width: #{$breakpointTablet}) {
    font: $title-1-mobile;
  }
}

.title-2 {
  font: $title-2;

  @media(max-width: #{$breakpointTablet}) {
    font: $title-2-mobile;
  }
}

.title-3 {
  font: $title-3;

  @media(max-width: #{$breakpointTablet}) {
    font: $title-3-mobile;
  }
}

.title-4 {
  font: $title-4;

  @media(max-width: #{$breakpointTablet}) {
    font: $title-4-mobile;
  }
}

.title-5 {
  font: $title-5;

  @media(max-width: #{$breakpointTablet}) {
    font: $title-5-mobile;
  }
}

.title-1-mob {
  font: $title-1-mobile;
}

.title-2-mob {
  font: $title-2-mobile;
}

.title-3-mob {
  font: $title-3-mobile;
}

.title-4-mob {
  font: $title-4-mobile;
}

.title-5-mob {
  font: $title-5-mobile;
}


.paragraph-1 {
  font: $paragraph-1;
}

.paragraph-2 {
  font: $paragraph-2;
  line-height: 22px;
}

.paragraph-3 {
  font: $paragraph-3;
}

.blackColor {
  color: $blackColor;
}

.fontColor {
  color: $fontColor;
}

//pallete

.pallete-primary {
  background-color: $primaryColor;
}

.pallete-secondary-1 {
  background-color: $secondaryColor-1;
}

.pallete-secondary-2 {
  background-color: $secondaryColor-2;
}

//buttons

.projectBtn {
  height: 36px;
  line-height: 34px;
  border-radius: 2px;
  font-family: $body-font-1;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.3px;
  cursor: pointer;
  border: 1px solid transparent;
  text-align: center;
  &--1 {
    color: $whiteColor;
    background-color: $primaryColor;
    background-image: linear-gradient(to top, $primaryColor 0%, $primaryColor 100%);
    &:hover {
      color: $whiteColor;
      background-color: $secondaryColor-1;
      background-image: linear-gradient(to top, $secondaryColor-1 0%, $secondaryColor-1 100%);
    }
  }
  &--2 {
    border: 1px solid $primaryColor;
    background-color: $whiteColor;
    color: $primaryColor;
    &:hover {
      color: $whiteColor;
      border: 1px solid $secondaryColor-1;
      background-color: $secondaryColor-1;
      background-image: linear-gradient(to top, $secondaryColor-1 0%, $secondaryColor-1 100%);
    }
  }
  &.disabled,
  &:disabled {
    background-color: $disabledColor-1;
    cursor: default;
    background-image: none;
  }
  //delete after
  &--hover-1 {
    color: $whiteColor;
    background-color: $secondaryColor-1;
    background-image: linear-gradient(to top, $secondaryColor-1 0%, $secondaryColor-1 100%);
  }
  //
}

.flatButton {
  color: $secondaryColor-1;
  font-family: $body-font-1;
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  padding-right: 22px;
  position: relative;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  &:after {
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    overflow: hidden;
    background-image: url('/assets/images/rounded.svg');
    background-color: $secondaryColor-1;
    background-position: center;
    top: 0;
    bottom: 0;
    margin: auto;
    content: '';
    right: 0;
  }
  &:hover {
    color: #0878cf;
    &:after {
      background-image: url('/assets/images/rounded.svg');
      background-color: #0878cf;
      background-position: center;
    }
  }
  &:disabled,
  &.disabled {
    color: $disabledColor-2;
    cursor: default;
    &:after {
      background-image: url('/assets/images/rounded.svg');
      background-color: $disabledColor-2;
      background-position: center;
    }
  }
  //delete after
  &--hover {
    color: #0878cf;
    &:after {
      background-image: url('/assets/images/rounded.svg');
      background-color: #0878cf;
      background-position: center;
    }
  }
  //
}

.floatButton {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  overflow: hidden;
  background-color: $primaryColor;
  cursor: pointer;
  position: relative;
  opacity: .5;
  &:after {
    position: absolute;
    top: -2px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-image: url('/assets/images/arrowToTop.svg');
    background-position: center;
    background-repeat: no-repeat;
    width: 26px;
    height: 13px;
    content: '';
  }
  &:hover {
    background-color: $primaryColor;
    opacity: 1;
    &:after {
      opacity: 1;
      background-image: url('/assets/images/arrowToTop.svg');
    }
  }
  //delete after
  &--hover {
    background-color: $primaryColor;
    opacity: 1;
    &:after {
      background-image: url('/assets/images/arrowToTop.svg');
    }
  }
  //
}

//link

a {
  text-decoration: none;
  outline: none;
  &:hover {
    text-decoration: none;
  }
  &:focus,
  &:active {
    text-decoration: none;
  }
}

.projectLink {
  color: $primaryColor;
  font-family: $body-font-1;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  text-decoration: none;
  &:hover {
    color: $secondaryColor-2;
    text-decoration: none;
  }
  &:focus {
    text-decoration: none;
  }
}

//checkbox

.checkBoxWrap {
  position: relative;
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox]+label {
  padding-left: 27px; 
  margin: 0;
  cursor: pointer;
}

input[type=checkbox]+label:before {
  content: '';
  text-align: center;
  display: inline-block;
  top: 4px;
  position: absolute;
  left: 0;
  width: 18px;
  height: 18px;
  border-radius: 2px;
  border: 1px solid $checkBoxColor;
  background-color: $whiteColor;
}

input[type=checkbox]:checked + label:after {
  content: "";
  width: 18px;
  height: 18px;
  background-image: url('/assets/images/check.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-color: $primaryColor;
  position: absolute;
  left: 0;
  top: 3px;
  border-radius: 2px;
  border: 1px solid $primaryColor;
}

//icon

.projectIcon {
  path {
    fill: $secondaryColor-1;
  }
  &:hover {
    path {
      fill: $primaryColor;
    }
  }
  &.disabled {
    svg {
      path {
        fill: $disabledColor-1;
      }
    }
  }
}

//Alphabetical sorting
.alphabeticalWrap {
  display: flex;
}
.alphabeticalBlock {
  height: 40px;
  padding: 10px;
  font-size: 18px;
  font-family: $body-font-1;
  text-align: center;
  color: $fontColor;
  background-color: $whiteColor;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 40px;
  font-weight: 400;
  cursor: pointer;
  &:hover {
    background-color: $primaryColor;
    color: $whiteColor;
  }
  &--active {
    color: $whiteColor;
    background-color: $disabledColor-1;
  }
}

//Fields
.projectFormControl {
  border: 0;
  color: #000000;
  font-family: $body-font-1;
  font-size: 16px;
  font-weight: 400;
  width: 100%;
  padding: 0 13px;
  height: 40px;
  margin: 18px 0 0;
  outline: none;
  &::-webkit-input-placeholder {
    color: #b5b5b5;
    font-weight: 300;
  }
  &::-moz-placeholder {
    color: #b5b5b5;
    font-weight: 300;
  }
  &:-ms-input-placeholder {
    color: #b5b5b5;
    font-weight: 300;
  }
  &:-moz-placeholder {
    color: #b5b5b5;
    font-weight: 300;
  }
}

.projectFormGroup {
  min-height: 60px;
  position: relative;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 1px;
  border: 1px solid $fieldColor;
  background-color: $whiteColor;
  margin: 0 0 20px;
  label {
    color: $labelColor;
    font-family: $body-font-1;
    font-size: 12px;
    font-weight: 400;
    line-height: 70px;
    position: absolute;
    top: 8px;
    left: 13px;
    line-height: 16px;
    font-weight: 300;
  }
  &--active,
  &:focus {
    border: 1px solid $secondaryColor-1;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  }
  &--withError {
    border: 1px solid $fieldColorError;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    .projectFormCounter {
      color: $fieldColorError;
    }
  }
  textarea.projectFormControl {
    resize: none;
    min-height: 94px;
    margin: 24px 0 0;
  }
}

.projectFormCounter {
  color: $labelColor;
  font-family: $body-font-1;
  font-size: 12px;
  font-weight: 400;
  position: absolute;
  top: 7px;
  right: 13px;
}

.projectBtn-group {
  width: 100%;
  button {
    outline: none;
    box-shadow: none;
  }
  &:hover {
    .dropDownBtn {
      color: #3ec4f0;
    }
  }
}

.dropDownBtn {
  height: 40px;
  border-radius: 1px;
  border: 1px solid $fieldColor;
  background-color: $whiteColor;
  width: 100%;
  font-family: $body-font-1;
  text-align: left;
  border-right: 0;
  cursor: pointer;
  font-weight: 400;
  padding-left: 13px;
  line-height: 36px;
}

.dropDownArrow {
  background: #fff url('/assets/images/arrowDown.svg') no-repeat center;
  border: 1px solid $fieldColor;
  border-left: 0;
  box-shadow: none;
  padding: 17px;
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  pointer-events: none;
}

.projectBtn-group {
  .dropdown-menu {
    top: -43px !important;
    left: 0 !important;
    right: 0;
    box-shadow: 0 8px 20px rgba(43, 34, 34, 0.3);
    border-radius: 2px;
    background-color: #ffffff;
    padding: 0;
    border: 0;
  }
  .dropdown-item {
    padding: 9px 14px;
    min-height: 40px;
    color: #1a1a1a;
    font-family: $body-font-1;
    font-size: 16px;
    font-weight: 400;
    &:hover {
      background-color: $primaryColor;
      color: $whiteColor;
    }
    &.active {
      color: #3ec4f0;
      background-color: $whiteColor;
      &:hover {
        background-color: $primaryColor;
        color: $whiteColor;
      }
    }
  }
}
