@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin positionAbsCenter {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

@mixin positionFixedCenter {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

@mixin psevdo($display: block, $pos: absolute, $content: ''){
  content: $content;
  display: $display;
  position: $pos;
}

@mixin textOnelineAndDots {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

@mixin input-placeholder {
  &.placeholder { @content; }
  &:-moz-placeholder { @content; }
  &::-moz-placeholder { @content; }
  &:-ms-input-placeholder { @content; }
  &::-webkit-input-placeholder { @content; }
}

@mixin backgroundCoverCenter {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}