//service block begin
.serviceWrap {
  padding: 128px 0 185px;
  overflow: hidden;
  @media(max-width: $breakpointTablet) {
    padding: 25px 0 23px;
  }
  .container-fluid {
    padding: 0 47px;
    @media(max-width: $breakpointTablet) {
      padding: 0 15px;
    }
  }
}
.serviceContainer {
  .title-2 {
    margin-bottom: 26px;
    @media(max-width: $breakpointTablet) {
      margin-bottom: 0;
    }
  }
  p {
    margin-bottom: 22px;
    color: #9e9e9e;
    @media(max-width: $breakpointTablet) {
      margin-bottom: 22px;
    }
  }
  .paragraph-2 {
    width: 100%;
    @media(min-width: $breakpointTablet) {
      margin-left: 35px;
      max-width: 510px;
    }
    @media(min-width: $breakpointDesktop) {
      margin-left: 7.6%;
      max-width: 510px;
    }
    @media(min-width: $breakpointLarge) {
      margin-left: 8.7%;
      max-width: 60%;
    }
    @media(max-width: $breakpointMobile) {
      margin-left: 0;
      max-width: 90%;
      margin-top: 19px;
    }
  }
  @media(max-width: $breakpointTablet) {
    padding-left: 15px;
    padding-right: 15px;
    padding: 20px 15px;
  }
}
.serviceBlock {
  text-align: center;
  margin: 0 0 47px;
  @media(max-width: $breakpointTablet) {
    margin: 0 0 38px;
  }
}
.serviceBlocks {
  margin: 43px 0 0;
  @media(max-width: $breakpointTablet) {
    margin: 0;
    .col-md-3 {
      &:nth-child(7),
      &:nth-child(8) {
        .serviceBlock {
          margin: 0;
        }
      }
    }
  }
}
.serviceBlockImage {
  height: 100px;
  width: 100px;
  box-shadow: 0 7px 30px rgba(43, 34, 34, 0.2);
  background-color: #ffffff;
  @include flexCenter;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto 16px;
  cursor: pointer;
  fill: rgba(43, 34, 34, 0.2);
  @media(max-width: $breakpointTablet) {
    max-width: 90px;
    max-height: 90px;
    margin: 0 auto 25px;
    &--1 {
      img {
        max-width: 42px;
      }
    }
    &--2 {
      img {
        max-width: 46px;
      }
    }
    &--3 {
      img {
        max-width: 47px;
      }
    }
    &--4 {
      img {
        max-width: 50px;
      }
    }
    &--5 {
      img {
        max-width: 52px;
      }
    }
    &--6 {
      img {
        max-width: 48px;
      }
    }
    &--7 {
      img {
        max-width: 50px;
      }
    }
    &--8 {
      img {
        max-width: 50px;
      }
    }
  }
  &:hover {
    -webkit-animation: pulse-shadow 2s infinite;
    animation: pulse-shadow 2s infinite;
    color: rgba(43, 34, 34, 0.2);
  }
}
.serviceBlockText {
  color: #000000;
  font-size: 14px;
  font-weight: 600;
  @media(max-width: $breakpointTablet) {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 19px;
  }
}
//service block end

.confidenceWrap {
  padding: 83px 0;
  // padding: 229px 0 83px;
  overflow: hidden;
  .title-2 {
    margin: 0 0 25px;
  }
  @media(max-width: $breakpointTablet) {
    padding: 25px 15px;
    .title-2 {
      margin: 0 0 18px;
    }
  }
}
.confidenceContainer {
  position: relative;
}
.confidenceBack {
  position: absolute;
  right: -160px;
  top: -37px;
  @media(max-width: $breakpointTablet) {
    right: -188px;
    top: -27px;
    img {
      max-height: 320px;
    }
  }
  @media(min-width: $breakpointTablet) {
    right: -222px;
  }
  @media(min-width: $breakpointDesktop) {
    right: -222px;
  }
  @media(min-width: $breakpointLarge) {
    right: -160px;
  }
}
.confidenceText {
  p {
    margin-bottom: 22px;
  }
  @media(min-width: $breakpointTablet) {
    max-width: 510px;
    margin-left: 35px;
  }
  @media(min-width: $breakpointDesktop) {
    max-width: 510px;
    margin-left: 85px;
  }
  @media(min-width: $breakpointLarge) {
    max-width: 680px;
    margin-left: 87px;
  }
}
.confidenceClient {
  display: flex;
  align-items: center;
  max-width: 585px;
  margin: 30px auto;
  justify-content: space-between;
  @media(max-width: $breakpointTablet) {
    margin: 10px auto;
    max-width: 300px;
  }
}

//
.promotionsAndOffers {
  padding: 110px 0;
  @media(max-width: $breakpointTablet) {
    padding: 25px 15px;
  }
  .title-2 {
    margin-bottom: 71px;
    @media(max-width: $breakpointMobile) {
      margin-bottom: 43px;
    }
  }
}

.promotionBlock {
  min-height: 270px;
  position: relative;
  padding: 0 0 0 7px;
  margin: 0 0 30px;
  @media(max-width: $breakpointDesktop) {
    padding: 0;
    min-height: 260px;
  }
}
.promotionBlockContent {
  box-shadow: 0 16px 30px rgba(43, 34, 34, 0.3);
  background-color: #ffffff;
  opacity: 0.95;
  height: 230px;
  position: absolute;
  top: 40px;
  right: 0q;
  width: calc(100% - 40px);
  padding: 35px 40px;
  &__date {
    color: #9e9e9e;
    margin: 0 0 17px;
    @media(max-width: $breakpointDesktop) {
      line-height: 18px;
      max-width: 145px;
      margin: 0 0 10px;
    }
  }
  &__text {
    line-height: 26px;
    min-height: 94px;
    @media(max-width: $breakpointDesktop) {
      font-size: 16px;
      line-height: 22px;
      min-height: 117px;
    }
  }
  @media(max-width: $breakpointDesktop) {
    height: 240px;
    top: 21px;
    right: 11px;
    padding: 26px 29px 25px 29px;
  }
  @media(max-width: $breakpointMobile) {
    top: 19px;
    right: 2px;
    width: calc(100% - 22px);
  }
}
.promotionBlockContentBtn {
  text-align: right;
}
.promotionsAndOffersBtn {
  max-width: 290px;
  margin: 30px auto 0;
  @media(max-width: $breakpointMobile) {
    margin: 0 auto;
  }
}

.promotionBlockImage {
  max-width: 410px;
  @media(max-width: $breakpointDesktop) {
    max-width: calc(100% - 20px);
  }
}

//

.advantagesButton {
  max-width: 290px;
  margin: 34px auto 0;
  @media(max-width: $breakpointMobile) {
    margin: -18px auto 0;
  }
}
.advBlock {
  text-align: center;
  font-family: $body-font-1;
  margin: 0 0 45px;
  @media(max-width: $breakpointMobile) {
    margin: 0 0 43px;
  }
}

.advBlockText {
  color: $blackColor;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-top: 34px;
  @media(max-width: $breakpointMobile) {
    margin-top: 15px;
  }
}

.advantagesWrap {
  overflow: hidden;
  position: relative;
  padding: 117px 0 239px;
  .container {
    position: relative;
  }
  .paragraph-2 {
    width: 100%;
    margin-top: 26px;
    @media(min-width: $breakpointTablet) {
      margin-left: 35px;
      max-width: 510px;
    }
    @media(min-width: $breakpointDesktop) {
      margin-left: 85px;
      max-width: 510px;
    }
    @media(min-width: $breakpointLarge) {
      margin-left: 87px;
      max-width: 680px;
    }
    @media(max-width: $breakpointMobile) {
      margin-left: 0;
      max-width: 80%;
      margin-top: 19px;
    }
  }
  @media(max-width: $breakpointTablet) {
    padding-left: 15px;
    padding-right: 15px;
    padding: 20px 15px 50px;
  }
}

.advantagesImageBack {
  position: absolute;
  top: -47px;
  right: -81px;
  @media(min-width: $breakpointMobile) {
    right: -253px;
    img {
      max-height: 303px;
    }
  }
  @media(min-width: $breakpointTablet) {
    right: -253px;
    img {
      max-height: inherit;
    }
  }
  @media(min-width: $breakpointLarge) {
    right: -253px;
  }
  @media(max-width: $breakpointMobile) {
    top: -8px;
    right: -160px;
    img {
      max-height: 303px;
    }
  }
}

.advantagesBlocks {
  margin: 82px 0 0;
  @media(max-width: $breakpointMobile) {
    margin: 29px 0 0;
  }
}

.advImage {
  min-height: 68px;
  @include flexCenter;
  @media(max-width: $breakpointMobile) {
    &--1 {
      img {
        height: 56px;
      }
    }
    &--2 {
      img {
        height: 61px;
      }
    }
    &--3 {
      img {
        height: 65px;
      }
    }
    &--4 {
      img {
        height: 55px;
      }
    }
    &--5 {
      img {
        height: 66px;
      }
    }
    &--6 {
      img {
        height: 59px;
      }
    }
  }
}
.bannerContainer {
  position: relative;
  background-color: #0494df;
  overflow: hidden;
}
.bannerBlockLine {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  &:after {
    @include positionAbsCenter();
    content: '';
    background: rgba(0,0,0,.1);
  }
}
.bannerBlockLine-1 {
  margin-top: -100px;
  @media(max-width: $breakpointTablet) {
    margin-top: -14px;
  }
}
.bannerImage {
  width: 256px;
  height: 190px;
  min-width: 256px;
  background-color: #0494df;
  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: all 500ms ease;
  }
  &.ready {
    img{
      opacity: 1;
    }
  }  
  @media(max-width: $breakpointTablet) {
    width: 106px;
    height: 79px;
    min-width: 106px;
  }
}
.bannerText {
  @include positionAbsCenter();
  @include flexCenter();
  top: 87px;
  @media(max-width: $breakpointTablet) {
    top: 91px;
    svg {
      max-width: 237px;
    }
  } 
}

@-webkit-keyframes pulse-shadow {
  0% {
    box-shadow: 0 5px 15px rgba(43, 34, 34, 0.2);
  }
  50% {
    box-shadow: 0 0 5px 25px rgba(43, 34, 34, 0.2);
  }
  100% {
    box-shadow: 0 5px 15px rgba(43, 34, 34, 0.2);
  }
}

@keyframes pulse-shadow {
  0% {
    box-shadow: 0 5px 15px rgba(43, 34, 34, 0.2);
  }
  50% {
    box-shadow: 0 0 5px 25px rgba(43, 34, 34, 0.2);
  }
  100% {
    box-shadow: 0 5px 15px rgba(43, 34, 34, 0.2);
  }
}